<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GAF" version="2.3.1" targetFramework="net47" />
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net47" />
  <package id="ManagedCuda-CUBLAS" version="8.0.22" targetFramework="net47" />
  <package id="ManagedCuda-CUSOLVE" version="8.0.22" targetFramework="net47" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net471" />
  <package id="Microsoft.Msagl" version="1.1.1" targetFramework="net471" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.1" targetFramework="net471" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.1" targetFramework="net471" />
  <package id="protobuf-net" version="2.3.17" targetFramework="net471" />
</packages>